
@{
    ViewBag.Title = "Rapport";
}
<div class="jumbotron">
    <h1>Rapport Api Access</h1>
    <p class="lead">This page shows Role Based access control to the users. Only an Admin can delete the items, while a Doctor can create and view and Nurse can only view</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

@using (Html.BeginForm("Create", "Tasks", FormMethod.Post))
{
    <div>
        New Item: <input type="text" name="description">
        <input type="submit" value="Add">
    </div>
}

<br />

<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout: auto">

    <tr>
        <th>Items:</th>
    </tr>

    @foreach (var item in ViewBag.Tasks)
    {
        <tr>
            <td>
                @using (Html.BeginForm("Delete", "Tasks", FormMethod.Post))
                {
                    @item["Text"]
                    <button name="id" value="@item["Id"]" style="float:right">Delete</button>
                }
            </td>
        </tr>
    }

</table>