<div class="jumbotron">
    <h1>Rapport Service API</h1>
    <p class="lead">This is a Demo app, simulating a web service hosted on cloud and secured by Azure Active Directory B2C service</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

