<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="b2c:Tenant" value="systemcpoc.onmicrosoft.com" />
    <add key="b2c:ClientId" value="16fe6693-55ec-460d-b3ed-33af78f131e4" />
    <add key="b2c:ClientSecret" value="WFQ5YfPYkECZLmX8DPZTdKoHcUdw8B9CV9uYKxOEIBI=" />
  </appSettings>
</configuration>